:root {
	--bg: #002B36;
	--fg: #7E949B;
	--navbar-bg: #00323E;
	--body-bg: #00323E;
	--atribute: #ea9ebc;
	--atribute-hover: #ea2;
	--span: #fff99f;
}

html {
	background-color: var(--bg);
	color: var(--fg);
  font-family: MorePeftectDos, 'Courier New', monospace;
}

body {
	width: 1200px;
	margin: auto;
	max-width: 100%;
	display: flex;
}

.avatar, .avatar img {
	height: 435px;
	width: auto;
  border-radius: 10px 10px 0px 0px;
}

.navbar-holder {
	padding-top: 2.5rem;
	padding-right: 2.5rem;
}

.navbar {
	background: var(--navbar-bg);
	width: 290px;
	border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
}

.body {
  background: var(--body-bg);
  width: auto;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
  padding-top: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0;
  margin: 0;
}

.navbar p, .navbar h1 {
	margin: 0.5rem;
	text-align: center;
}

.topnav ul {
	list-style: none;
	padding: 0;
}

.topnav ul li {
  border-top: .1em solid var(--navbar-separator);
	padding: .2em .4em;
}

.sep:before {
  content: "♥";
}

main {
	display: inline-block;
	max-width: 70vw;
	padding: 1em;
}

main p {
  font-size: 16px;
}

main li {
	margin-bottom: 0.2rem;
}

a {
	color: var(--atribute);
	text-decoration: underline;
}

a:hover {
	color: var(--atribute-hover);
	text-decoration: none;
}

.navbar a:not(.headertext) {
	color: var(--fg);
	text-decoration: underline;
}

.headertext, .navbar a:hover {
	color: var(--fg);
	text-decoration: none;
}

@font-face {
  font-family: MorePeftectDos;
  src: url("moreperfectdos.ttf");
}

iframe {
  border-radius: 10px; 
  overflow-x: hidden;
  overflow: scroll;
  height: 18px;
  width: auto;
  max-width: 60vw;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

span {
  color: #f6d08a;
}
