:root {
/*  background: #EDA2F2;*/
  bg: #A682B0;
  color: #EBC7E8;
  gray: #D3C9D6;
  gray-hover: #B5E8E0;
  bg-light: #000;
}

body {
//  overflow: hidden;
}

@media (prefers-color-scheme: light) {
	body {
		background-color: white;
		color: black;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: black;
		color: white;
	}
}

.color {
  color: var(--color);
  font-weight: bold;
}

.big {
  color: #61afef;
}

.ghs {
  color: #828282;
}

small, small a, small a:visited {
  color: #888;
}

.project {
    border: #9A9483 solid 1px;
    background-color: #d3ccb6;
    padding: 30px;
}

.container {
  display: flex;
  justify-content: center;
  min-height: 90vh;
  display: flex;
  flex-direction: column; 
  width: 60vw;
  margin-left: 20vw;
  margin-right: 20vw;
}

.container-blog {
  display: flex;
  align-items: center;
  justify-content: center;
  display:flex;
  flex-direction:column; 
  margin-left: 20vw;
  margin-right: 20vw;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fade-in{
  -webkit-animation: fade-in 2s ease;
  -moz-animation: fade-in ease-in-out 2s both;
  -ms-animation: fade-in ease-in-out 2s both;
  -o-animation: fade-in ease-in-out 2s both;
  animation: fade-in 2s ease;
  visibility: visible;
  -webkit-backface-visibility: hidden;
}

@-webkit-keyframes fade-in{0%{opacity:0;} 100%{opacity:1;}}
@-moz-keyframes fade-in{0%{opacity:0} 100%{opacity:1}}
@-o-keyframes fade-in{0%{opacity:0} 100%{opacity:1}}
@keyframes fade-in{0%{opacity:0} 100%{opacity:1}}

.nav {
  margin: 15px;
  align-items: center;
  justify-content: center;
  padding: 0.2rem 0.7rem;
  color: #EDA2F2;
  margin-left: 20vw;
  margin-right: 20vw;
}

.nav a {
  text-align: center;
  font-weight: normal;
}

nav a {
  float: left;
  text-align: center;
  padding: 0.2rem 0.7rem;
  border-bottom: none;
  color: #EDA2F2;
  font-weight: normal;
}

nav a:hover {
  border-bottom: none;
  opacity: 100%;
  color: #FBBEDE;
  font-style: italic;
}

nav a.active {
  border-radius: 0.2rem;
  color: #EDA2F2;
  font-weight: normal;
}

a {
  border-bottom: none;
  color: #EDA2F2;
  font-weight: normal;
}

a:hover {
  border-bottom: none;
  color: #FBBEDE;
  font-style: italic;
}

a.active {
  border-radius: 0.2rem;
  color: #EDA2F2;
  font-weight: normal;
}

.projects {
  border-radius: 2rem;
  background-color: black;
}

.project {
  background-color: black;
  padding: 0.5em;
  border-radius: 12px;
  margin: 0.6em 0;
  -webkit-box-shadow: 0px 1px 12px -6px #000000;
  box-shadow: 0px 1px 12px -6px #000000;
}

.project h4 {
  margin: 0em;
}

.containment {
/*  background-color: var(--gray);*/
  border-radius: 10px;
  
}

#avatar {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  border-style: 1px solid white;
  align-items: center;
  text-align: center;
}

img {
  align-items: center;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.visitors-img {
  max-width: 40px;
  max-height: 40px;
}

.width {
  align-items: center;
  text-align: center;
}

.updates {
  border: none;
  height: 100px;
  width: 500px;
}

.website-counter {
  height: 50px;
  width: 80px;
  color: white;
  border-radius: 30px;
  font-weight: 700;
  font-size: 25px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

