:root {
  background: #A682B0;
  bg: #A682B0;
  color: #f3bde3;
  gray: #D3C9D6;
  gray-hover: #B5E8E0;
}

body {
//  overflow: hidden;
}

.color {
  color: var(--color);
  font-weight: bold;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fade-in{
  -webkit-animation: fade-in 2s ease;
  -moz-animation: fade-in ease-in-out 2s both;
  -ms-animation: fade-in ease-in-out 2s both;
  -o-animation: fade-in ease-in-out 2s both;
  animation: fade-in 2s ease;
  visibility: visible;
  -webkit-backface-visibility: hidden;
}

@-webkit-keyframes fade-in{0%{opacity:0;} 100%{opacity:1;}}
@-moz-keyframes fade-in{0%{opacity:0} 100%{opacity:1}}
@-o-keyframes fade-in{0%{opacity:0} 100%{opacity:1}}
@keyframes fade-in{0%{opacity:0} 100%{opacity:1}}

a {
  text-decoration: none;
  border-bottom: 1px solid var(--gray);
}

a:link, a:visited {
  color: var(--gray);
}

a:hover {
  color: var(--gray-hover);
  border-bottom: 1px solid var(--gray-hover);
}

.nav {
  margin: 15px;
}

nav a {
  float: left;
  text-align: center;
  padding: 0.2rem 0.7rem;
  border-bottom: none;
}

nav a:hover {
  border-bottom: none;
  background-color: var(--bg);
  opacity: 100%;
}

nav a.active {
  background-color: var(--bg);
  color: var(--gray);
  border-radius: 0.2rem;
}

.projects {
  border-radius: 2rem;
  background-color: black;
}

.project {
  background-color: black;
  padding: 0.5em;
  border-radius: 12px;
  margin: 0.6em 0;
  -webkit-box-shadow: 0px 1px 12px -6px #000000;
  box-shadow: 0px 1px 12px -6px #000000;
}

.project h4 {
  margin: 0em;
}


* {
  box-sizing: border-box;
}  

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE 10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  -ms-flex: 50%; /* IE 10 */
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

.btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 18px;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}
