.imgWrapper img {
  border-radius: 10px;
  box-shadow: 0px 5px 10px 0px #aaa;
  max-width: 60vw;
  margin: 10px;
}

.container{
    width: 90%;
    margin: auto;
}

body {
  max-width: 80vw;
  margin: auto;
  padding: 10px;
}


